/* src/styles/Navbar.css */

/* Estilos básicos para la barra de navegación */
nav {
  display: flex;
  justify-content: space-between; /* Espacio entre logo y elementos de la derecha */
  align-items: center;
  background-color: var(--color-primary); /* Usar color primario */
  padding: var(--space-sm) var(--space-lg); /* Espaciado pequeño y grande */
  box-shadow: 0 4px 6px var(--color-shadow); /* Sombra ligera */
  position: relative;
  z-index: 1000; /* Asegurar que el Navbar esté por encima de otros elementos */
}

/* Contenedor del logo */
.logo-container {
  display: flex;
  align-items: center;
  gap: var(--space-sm); /* Espacio pequeño entre elementos */
  margin-right: auto; /* Asegura que el logo se alinee a la izquierda */
}

/* Logo */
.navbar-logo {
  height: 24px; /* Tamaño del logo */
  width: auto;
  transition: transform var(--transition-duration) var(--transition-ease); /* Transición suave */
}

.navbar-logo:hover {
  transform: var(--transform-hover); /* Efecto hover */
}

/* Enlace del logo */
.navbar-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Eliminar subrayado */
  color: inherit; /* Heredar color del texto */
}

/* Contenedor de elementos de la derecha (carrito y usuario) */
header {
  display: flex;
  align-items: center;
  gap: var(--space-md); /* Espacio mediano entre elementos */
}

/* Botones de íconos (carrito y usuario) */
.icon-button {
  background: none;
  border: none;
  color: var(--color-text-light); /* Texto claro */
  font-size: var(--font-size-icon); /* Tamaño de fuente para íconos */
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-ease); /* Transición suave */
}

.icon-button:hover {
  color: var(--color-hover); /* Cambiar color al hacer hover */
  transform: var(--transform-hover); /* Efecto hover */
}

.icon-button:focus {
  outline: none; /* Eliminar contorno al enfocar */
}

.icon-button:active {
  transform: var(--transform-active); /* Efecto al hacer clic */
}

/* Estilos para el campo de búsqueda */

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}
.search-input {
  width: 100%;
  max-width: 400px;
  padding: 8px 12px 8px 32px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.search-input:focus {
  border-color: var(--color-hover); /* Cambiar color al enfocar */
  outline: none; /* Eliminar contorno al enfocar */
}

.search-icon {
  position: absolute;
  left: calc(50% - 210px); /* ajusta según el max-width */
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .search-container {
    display: none; /* Ocultar campo de búsqueda en pantallas pequeñas */
  }

  .logo-container {
    margin-right: 0; /* Ajustar margen en pantallas pequeñas */
  }
}